.imagem {
    display: inline-block;
    margin: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffb0f4;
    color: #000000;
    padding: 10px 20px;
    margin-bottom: 30px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

.imagem-container {
    clear: both;
    margin-bottom: 20px;
}

.imagem {
    float: left;
    margin-right: 20px;
}

.descricao {
    overflow: hidden;
}

.titulo {
    font-size: 18px;
    font-weight: bold;
}

.sinopse {
    font-size: 14px;
    padding-right: 300px;
    text-align: justify;
}

.logo {
    width: 150px;
    height: auto;
    padding-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.nomera {
    padding-left: 20px;
}